$color-primary-dark: hsl(243, 87%, 12%);
$color-primary-light: hsl(238, 22%, 44%);

$color-accent-dark: hsl(224, 93%, 58%);
$color-accent-light: hsl(170, 45%, 43%);

$color-neutral-dark: hsl(0, 0%, 75%);
$color-bg-solid: #f8f8fe;

$border-radius-default: 0.3rem;

// Breakpoints

$bp-tablet: 42em;
$bp-desktop: 70em;
$bp-larger: 100em;
